

nav {
    background: red;
}

li {
    text-decoration: none;
}

.nav-links {
    display: flex;
}

#proj {
    background: aqua;
}
* {
    margin:0;
    padding:0;  
  }
  
   body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 18px;
    background-color: #FDF8F5;
    color: #4F4846;
  }
  
  h1,
  h2 {
    margin: 5px;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #FDF8F5;
  }
  
  header,
  footer {
    height: 30px;
    width: 100%;
    line-height: 60px;
    background-color: red;
  }
  
    header {
    position: fixed;
    border-bottom: 10px solid #DDAF94;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5;    
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 10px auto;
    width: 800px;
    height: 60%;
  }
  
  section {
    margin-bottom: 0;
    padding: 10px 10px 40px 5px;
    border-top: 1px solid #DDAF94;
    background-color:  #E8CEBF;
  }

  button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }
   

  .text-center {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .text-right {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color:red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

